<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Write a new Review</h1>
    @ViewBag.ohBalls
    <form action="/addreview" method="post">
        <p>Reviewer name: <input type="text" name="username"></p>
        <p>Restaurant name: <input type="text" name="restruant"></p>
        <p>Review: <textarea name="review" id="" cols="30" rows="10"></textarea></p>
        <p>Date Visited: <input type="date" name="datevisited"></p>
        <input type="submit" value="submit">
    </form>
</body>
</html>